@font-face {
    font-family: square;
    src: url("/static/fonts/custom.ttf");
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: monospace;
}

#arena {
    font-family: square, monospace;
    text-align:center;
    font-size: 2vmin;
}

#highlight {
    background-color: #FFF;
    color: #000;
}

.content {
    padding-top: 70px;
}

#map {
    line-height: 16px;
}
