{% extends "base.html" %}

{% block content %}
<div class="content row">
    <div id="arena" class="col-md-8 square"></div>
    <div id="status" class="col-md-4">
        <label> Health: </label> <span id="health">0</span> <br/>
        <label> Ammo: </label> <span id="ammo">0</span> <br/>
        <label> Cloaking: </label> <span id="cloak">off</span>
        <label> Scanning: </label> <span id="scan">off</span>
        <div id="msg"></div>
        <div id="scores"> </div>
    </div>
</div>
{% endblock %}

{% block scripts %}        
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io-0.9.16.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.js') }}"></script>
{% endblock %}
